/* Global values */
cursor: inherit;
cursor: initial;
cursor: unset;

span {
    z-index: 1;
}


.triangle {
  border-color: transparent transparent #EA4AF7 transparent;
  border-style: solid;
  border-width: 0px 20px 20px 20px;
  height: 0px;
  width: 0px;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.oval {
   width: 80px;
   height: 100px;
   background: #EA4AF7;
   border-radius: 50%;
   margin-top: 20%
 }

.center-div {
      /* margin: 0 auto;
      width: 700px; */
  display: inline-block;
  padding: 50px;
  margin-top: 10%;
 }

.center-div > img {
  margin-top: 20%;
 }

.sea {
  background: #B3E9FF;
  /* height: 600px;
  width: 800px;
  border-style: solid;
  border-color: #4fcddd;
  border-width: thick; */
}

.fishing_area {
  min-height: 1px;
  width: 423px;
  height: 338px;
  position: absolute;
  /* margin-top: 10%; */
  margin-left: auto;
  margin-right: auto;
}

.fishing_container{
  /* position: absolute; */
  /* left: 25%; */
  /* right: 25%; */
  margin-left: auto;
}

.net {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 15;
  float: inherit;
}

#net-non-moving {
  position: relative;
  top: 0px;
  z-index: 15;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.fish {
  position: absolute;
  z-index: 20;
}

.redfish {
}
/*
#net_cursor {
    cursor: url('./img/net.png'), pointer;
} */

.team_table {
  border-spacing: 10px;
  border-collapse: separate;
  vertical-align: middle;
  padding: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.avatar:hover {
  text-shadow: blue 0 5px 30px;
  cursor: default;
}

.team_p {
  font-size: 22px;
  font-weight: bold;
  font-alignment: center;
  line-height: 1.8em
}

.quote_bubble {
  position: relative;
	background: #B0B8C6;
	border-radius: .8em;
  color: white;
  width: 60%;
  float: left;
  padding-left: 15px;
  padding-right: 20px;
  z-index: 20;
  text-align: left;
  margin-left: 10%;
  margin-top: -5%;
}

.team_quote_icon {
  max-height: 95px;
}

p.quote_icon {
  text-align: left;
  margin-bottom: 15%;
  z-index: 50;
}

div.quote_icon {
  /* float: left; */
  margin-bottom: 5%;
  margin-left: 0px;
  margin-right: 95%;
  z-index: 50;
}

#exhortation {
  color: red;
  font-weight: bold;
}

.bird_inst {
  max-width: 70%;
  min-width: 60%;
  /* font-weight: bold; */
  text-align: center;
  float: center;
  margin-left: 15%;
  margin-right: 15%
}

.team_div {
  position:absolute;
  top: 2%;
  left: 25%;
  right: 25%;
  text-align: center
}

#jspsych-bird-fixation-response-stimulus{
  /* margin-top: 30%; */
}

#pig{
  max-height: 100px;
}

#pig_div {
  position: absolute;
  bottom: 10%;
  left: 25%;
  right: 25%;
}

.effort-meter{
    height: 600px;
    min-width: 200px;
    background: #DCDCDC;
    /* margin-left: 25%;
    margin-right: 25%; */
    margin-top: 10%;
    border: black;
    border-style: solid;
    border-width: 3px;
}

.effort-bar {
   min-width: 200px;
   height: 4px;
   background: #000000;
   position: absolute;
 }

.countdown-timer{
  right: 10%;
  position: absolute;
  top: 50%;
  font-size: 2em;
  /* color: red; */
  font-weight: bold;
}

.svo_table {
  border-color: rgb(255,255,255);
  border-spacing: 0px;

}
